html {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
}
body {
  line-height: 1.4rem;
}

/* Header - Background - Nav */

.headbox {
  width: 960px;
  margin: 0 auto;
  display: flex;
  background-color: cadetblue;
  align-items: center;
  height: 3rem;
}
.headbox img {
  height: 1.5rem;
  width: auto;
  padding-left: 2rem;
  display: flex;
  padding-right: 1rem;
}
.headbox span {
  display: flex;
  flex-grow: 1;
}
header {
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  width: auto;
  padding-top: 1rem;
}
.desktopnav {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  padding-right: 1rem;
}
.desktopnav a {
  padding: 1rem 1rem;
}
.mobilenav {
  display: none;
}
header span, li {
  color: white;
}
header nav a {
  color: white;
  text-decoration: none;
}
#glasses {
  width: 960px;
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  justify-content: flex-end;
}
#see-box {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  background-color: white;
  display: inline-flex;
  margin-right: -2rem;
}
#glasses img {
  display: none;
}

/* Icons: Exams, Fittings, Delivery */

.icontainer {
  width: 960px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.icons {
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.iconpic img {
  width: 5rem;
  height: auto;
}
#exams img {
  width: 3.5rem;
  height: auto;
}

/* Philosophy - Appointment */

  .container {
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }
  .blocks {
    width: 35%;
  }
  .cadet {
    background-color: cadetblue;
    font-weight: bold;
    display: inline-flex;
    color: white;
    width: 10rem;
    padding: 0.5rem 0rem 0.5rem 1.25rem;
    margin-bottom: 1rem;
  }
  #philosophy {
    padding-right: 5%;
  }


/* Footer */

footer {
  width: 960px;
  margin: 0 auto;
  background-color: azure;
  display: flex;
  align-items: center;
}
footer img {
  padding: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
  width: auto;
}

/*-- Media Queries */

/* Tablet */

@media only screen and (max-width: 1024px) {

/* Header - Background - Nav */

  .headbox {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background-color: cadetblue;
  align-items: center;
  height: 3rem;

  }
  header {
    height: 22rem;
    width: 100%;
    padding-top: 0;
  }
  .icontainer, .container, footer, header, #glasses {
    width: 100%;
  }
  #glasses {
    margin-top: 5rem;
  }
  #see-box {
    font-weight: bold;
    font-size: 1.33rem;
    line-height: 1.2;
    padding: 0.75rem 4rem;
    background-color: white;
    display: inline-flex;
    margin-right: 2rem;
  }
}

/* Mid-Size and Mobile 650px */

@media only screen and (max-width: 650px) {

/* Header - Background - Nav */

  .desktopnav {
    display: none;
  }
  .desktopnav a {
    padding: 1rem 1rem;
  }
  .mobilenav {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-right: 1rem;
  }
  .icontainer, .container, footer, header, #glasses {
    width: 100%;
  }
  header {
    height: 17rem;
    width: 100%;
    padding-top: 0;
    background-position: 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #see-box {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.2;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }
  #glasses {
    margin-top: 10rem;
  }

/* Icons: Exams, Fittings, Delivery */

  .icontainer {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
    width: 100%;
  }
  .icons {
    font-size: .77rem;
    margin: 0;
  }
  #horizontal-ruler {
    height: 6rem;
    margin: 1.54rem 0;
  }
  #horizontal-truck {
    height: 5.5rem;
  }

/* Philosophy - Appointment */

  .container {
    width: 100%;
    display: block;
  }
  .container p {
    font-size: 0.77rem;
    text-align: justify;
    padding: 0 0.5rem;
    line-height: 1.4;
  }
  .blocks {
    display: inline;
  }

  .cadet {
    color: white;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
  }
  #philosophy p {
    margin-bottom: 4rem;
  }

/* Footer */

  footer {
    justify-content: center;
    height: 8rem;
  }
  footer img {
    padding: 0;
    margin: 0;
  }
  footer span {
    display: none;
  }

}
